.gpt3__possibility {
  display: flex;
  flex-direction: row;
}

.gpt3__possibility-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-right: 2rem;
}

.gpt3__possibility-image img {
  width: 100%;
  height: 100%;
}

/* Styling for the text content of the possibility section */
.gpt3__possibility-content {
  flex: 1; /*it signifies that the width of all other elements will be the same as their content, but the element with flex: 1 will be given the remaining full space.*/
  display: flex;
  flex-direction: column; /*Display image and text as a column, main axis will now be vertical  */
  justify-content: flex-end; /*Pushes items towards the bottom end of the column*/
  align-items: flex-start; /*Pushes items towards the left end of the column*/
}

/* Targets the first h4 in the content */
.gpt3__possibility-content h4 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #71e5ff;
}

/* Targets the last h4 in the content */
.gpt3__possibility-content h4:last-child {
  color: #ff8a71;
}

/* Targets the h1 in the content */
.gpt3__possibility-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 34px;
  line-height: 45px;
  margin: 1rem 0;
}

/* Targets the p in the content */
.gpt3__possibility-content p {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text);

  margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  /* Styling for the entire possibility parent div */
  .gpt3__possibility {
    flex-direction: column; /* In a column direction, image will go above text content*/
  }

  /* Image changes */
  .gpt3__possibility-image {
    margin: 1rem 0;
  }

  /* Text content changes */
  .gpt3__possibility-content {
    margin-top: 2rem; /* Add spacing above text */
  }
}
